---
layout: default
---

<div id="cover">
  <h2>현재 공부 중에 있습니다.<br>아마도 React를 다루게 될 즈음 원하는 홈페이지를 완성할 것 같습니다.<br>그 동안 임시로 Study 및 Project를 게시해 놓는 임시 홈페이지로 사용합니다.</h2>
</div>

<div id="navbar" class="container">
  <a class="page-link" href="{{ base_path }}/study/"><h5 class="navbarcontent">Study</h5></a>
</div>

<div id="navbar" class="container">
  <a class="page-link" href="{{ base_path }}/project/"><h5 class="navbarcontent">Project</h5></a>
</div>

<div id="content" class="container">
  <div id="main_content" role="main">
    {{ content }}
  </div>
</div>

    
